name: "Build Pipeline"

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  id-token: write
  contents: read
  pull-requests: write
  packages: write

jobs:
  # Build and Publish Docker Image to GHCR - Backend
  build_and_publish_ghcr_backend:
    runs-on: firmino-lxc-runners
    steps:
      - name: Build And Publish Manager Docker Image to GHCR
        uses: LerianStudio/github-actions-ghcr-private-pipeline@main
        with:
          app_name: 'plugin-smart-templates-manager'
          context: .
          working_dir: components/manager
          token: ${{ secrets.MANAGE_TOKEN }}

      - name: Build And Publish Worker Docker Image to GHCR
        uses: LerianStudio/github-actions-ghcr-private-pipeline@main
        with:
          app_name: 'plugin-smart-templates-worker'
          context: .
          working_dir: components/worker
          token: ${{ secrets.MANAGE_TOKEN }}

  # Build and Publish Docker Image to Dockerhub - Backend
  build_and_publish_dockerhub_backend:
    runs-on: firmino-lxc-runners
    steps:
      - name: Build And Publish Docker Image to Dockerhub - Worker
        uses: LerianStudio/github-actions-docker-private-pipeline@main
        with:
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_password: ${{ secrets.DOCKER_PASSWORD }}
          app_name: 'plugin-smart-templates-worker'
          working_dir: 'components/worker'
          docker_access_token: ${{ secrets.MANAGE_TOKEN }}
      
      - name: Build And Publish Docker Image to Dockerhub - Manager
        uses: LerianStudio/github-actions-docker-private-pipeline@main
        with:
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_password: ${{ secrets.DOCKER_PASSWORD }}
          app_name: 'plugin-smart-templates-manager'
          working_dir: 'components/manager'
          docker_access_token: ${{ secrets.MANAGE_TOKEN }}

  # Build and Publish Docker Image to GHCR - Frontend
  build_and_publish_ghcr_frontend:
    runs-on: firmino-lxc-runners
    steps:    
      - name: Build And Publish Frontend Docker Image to GHCR
        uses: LerianStudio/github-actions-ghcr-private-pipeline@main
        with:
          app_name: 'plugin-smart-templates-frontend'
          working_dir: components/frontend
          token: ${{ secrets.MANAGE_TOKEN }}
  
  # Build and Publish Docker Image to Dockerhub - Frontend        
  build_and_publish_dockerhub_frontend:
    runs-on: firmino-lxc-runners
    steps:
      - name: Build And Publish Docker Image to Dockerhub - Frontend
        uses: LerianStudio/github-actions-docker-private-pipeline@main
        with:
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_password: ${{ secrets.DOCKER_PASSWORD }}
          docker_access_token: ${{ secrets.MANAGE_TOKEN }}
          app_name: 'plugin-smart-templates-frontend'
          working_dir: 'components/frontend'
