name: "Build Pipeline - Beta"

on:
  push:
    tags:
      - 'v*.*.*-beta.*'

permissions:
  id-token: write
  contents: read
  pull-requests: write
  packages: write

#Build and Publish Docker Image to GHCR
jobs:
  build_and_publish_ghcr:
    runs-on: firmino-lxc-runners
    steps:
      - name: Build And Publish Manager Docker Image to GHCR
        uses: LerianStudio/github-actions-ghcr-private-pipeline@main
        with:
          app_name: 'plugin-smart-templates-manager'
          context: .
          working_dir: components/manager
          token: ${{ secrets.MANAGE_TOKEN }}
          platforms: 'linux/amd64'

      - name: Build And Publish Worker Docker Image to GHCR
        uses: LerianStudio/github-actions-ghcr-private-pipeline@main
        with:
          app_name: 'plugin-smart-templates-worker'
          context: .
          working_dir: components/worker
          token: ${{ secrets.MANAGE_TOKEN }}
          platforms: 'linux/amd64'

      - name: Build And Publish Frontend Docker Image to GHCR
        uses: LerianStudio/github-actions-ghcr-private-pipeline@main
        with:
          app_name: 'plugin-smart-templates-frontend'
          working_dir: components/frontend
          token: ${{ secrets.MANAGE_TOKEN }}
          platforms: 'linux/amd64'
