name: Deploy Golang App

on:
  push:
    branches:
      - main  
      - develop
    paths-ignore:
      - '**/*.md' 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      APP_NAME: k8s-golang-addons-boilerplate
      DOCKERHUB_ORG: lerianstudio
      GHCR_REPO: ghcr.io/lerianstudio/addon-helm-k8s-golang

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.DOCKERHUB_ORG }}/${{ env.APP_NAME }}:latest

  deploy-to-eks:
    needs: build-and-deploy
    runs-on: ubuntu-latest
    env:
      CLUSTER_NAME: lerian-cluster
      AWS_REGION: us-east-1

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name ${{ env.CLUSTER_NAME }} --region ${{ env.AWS_REGION }}

      - name: Log in to GHCR for Helm
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Deploy Application with Helm
        run: |
          helm upgrade --install golang-app oci://${{ env.GHCR_REPO }} \
            --namespace default \
            --set image.repository=${{ env.DOCKERHUB_ORG }}/${{ env.APP_NAME }} \
            --set image.tag=latest \
            --set replicaCount=2
